version: "3.9"

services:
  backend:
    build: ./backend
    container_name: fastapi
    env_file: .env
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      container_name: react
      args:
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "3000:80"

nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend