version: "3.9"

services:
  backend:
    container_name: fastapi
    build: 
      context: ./backend
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "8000:8000"

  frontend:
    container_name: react
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    env_file: .env
    ports:
      - "3000:3000"

  nginx:
      image: nginx:alpine
      container_name: nginx
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      depends_on:
        - backend
        - frontend